//$Id$
#pragma once

#ifndef APICONFIG_H
#define APICONFIG_H

/* Test is currently tied to sqlite
 *
 * reasons:
 * 1. the custom SqliteAddUser-implementation
 * 2. this project includes only the sqlitemigrator plugin
 * 3. sqlite runs natively with qt
 */
#define API_DRIVERNAME "QSQLITE"

#define API_HOSTNAME ""
#define API_HOSTPORT 0
#define API_USERNAME ""
#define API_PASSWORD ""
#define API_DATABASE_FILENAME "testDb.sqlite3"
#define API_DATABASE API_DATABASE_FILENAME

#endif // APICONFIG_H
