# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.exp

*.ilk
*.lib
*.pdb
*.exe

/tests/auto/mysql/MysqlConfig.h
/tests/auto/sqlite/SqliteConfig.h
/tests/auto/api/ApiConfig.h
/bin/*