# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.exp
.qmake.stash

Makefile.Debug
Makefile.Release
wrapper.sh
target_wrapper.sh

*/release
plugins/*/release
tests/*/release

*.ilk
*.lib
*.pdb
*.exe

/tests/mysql/MysqlConfig.h
/tests/sqlite/SqliteConfig.h
/tests/postgresql/PostgresqlConfig.h
/tests/api/ApiConfig.h
/example/Config.h
/bin/*
/doc/*
