name: Qbs-Tests

on: push

jobs:
  windows:
    name: "test on windows"
    runs-on: windows-latest
    strategy:
      matrix:
        qt-version: [6.2.0, 5.15.2]
    steps:
      - name: Start PostgreSQL
        run: |
          $pgService = Get-Service -Name postgresql*
          Set-Service -InputObject $pgService -Status running -StartupType automatic
          Start-Process -FilePath "$env:PGBIN\pg_isready" -Wait -PassThru
          & $env:PGBIN\psql --command="CREATE USER test PASSWORD 'test';"
          & $env:PGBIN\psql --command="ALTER ROLE test WITH SUPERUSER LOGIN CREATEDB CREATEROLE;"
          & $env:PGBIN\psql --command="\du"

      - name: Start MySQL
        uses: fettpet/setup-mysql@v1
        with:
          mysql-version: 8.0
          install-directory: "${{ runner.workspace }}\\MySQL"

      - name: install mvsc
        uses: ilammy/msvc-dev-cmd@v1
        with:
          toolset: "14.29"

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{matrix.qt-version}}
          dir: ${{ runner.workspace }}
      
      - name: Install Plugin Qt
        uses: fettpet/qt_sql_plugin_installer@master
        with:
          mysql-install: true
          mysql-path: "${{ runner.workspace }}\\MySQL"
          postgresql-install: true
          postgresql-path: "${{ env.PGROOT }}"
          qt-version:  ${{matrix.qt-version}}

      - name: checkout
        uses: actions/checkout@v2

      - name: install qbs
        run: |
          choco install qbs
          qbs setup-toolchains --detect
          qbs config --list profiles

      - name: prepare config
        run: |
          move tests\mysql\MysqlConfig.h.github tests\mysql\MysqlConfig.h
          move tests\postgresql\PostgresqlConfig.h.github tests\postgresql\PostgresqlConfig.h
        shell: cmd

      - name: build and run tests
        run: |
          set QT_FORCE_STDERR_LOGGING=1
          set PATH=%PATH%;${{ runner.workspace }}\MySQL\lib;${{ runner.workspace }}\MySQL\include
          qbs build profile:MSVC2019-x64 --build-directory %RUNNER_TEMP%\build -p autotest-runner
        shell: cmd

  ubuntu:
    name: "test on ubuntu"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: ghcr.io/fettpet/qbs_qt_sql_plugins_docker:qt5.15.2-qbs1.20.1-clang10
          - image: ghcr.io/fettpet/qbs_qt_sql_plugins_docker:qt6.2.0-qbs1.20.1-clang12
    services:
      postgres:
        image: postgres
        ports: ['5432:5432']
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: test
          POSTGRES_USER: test

    steps:
      - name: Start MySQL
        uses: fettpet/setup-mysql@v1
        with:
          mysql-version: 8.0
          install-directory: "${{ runner.workspace }}\\MySQL"
      
      - name: checkout
        uses: actions/checkout@v2
      
      - name: prepare tests 
        run: |
          mv tests/mysql/MysqlConfig.h.github tests/mysql/MysqlConfig.h
          mv tests/postgresql/PostgresqlConfig.h.github tests/postgresql/PostgresqlConfig.h

      - name: build and run tests
        run: >-
          docker run --network="host" --rm -v ${GITHUB_WORKSPACE}:/build -w /build
          ${{ matrix.image }}
          build
          --build-directory /tmp/build
          -p autotest-runner
        env:
          POSTGRES_HOST: postgres
